*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    width: 100%;
    height: 100%;
}


#page1{
    width: 100%;
    height: 100vh;
    background-color:lightgray;
font-family: gilroy;
background-image: url(https://images.unsplash.com/photo-1436262513933-a0b06755c784?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-position: center;
background-size: cover;
display: flex;
align-items: center;
flex-direction: column;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 0 120px;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightgreen; */
}

.logo h3{
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.nav-2{
    width: 340px;
    justify-content: space-between;
    display: flex;
}
.nav-2 a{
    text-decoration: none;
    color: white;
    font-size:17px;
}



.hero{
    width: 100%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.hero-in{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero h1{
    font-size:6vw;
    margin-top: -8vw;
    font-weight:bold;
}
.hero h5{
    text-align: center;
    font-weight: 500;
    font-size: 18px;

}
.hero button{
    text-align: center;
    margin-top: 3vw;
    padding: 14px 70px;
    border-radius:50px;
    border:2px solid white;
    font-size:17px;
    font-weight: 600;
    color:white;
    background-color: transparent;


}

#page1-post{
    width: 100%;
    height:25vh;
    background-color: white;
    font-family: gilroy;
    display: flex;
    align-items: center;
    justify-content: center;

}

#page1-post h1{
    font-size: 4vw;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(176, 176, 26);
    display: flex;
}

.left-pg2{
    width: 50%;
    height: 100%;
    background-color: aqua;
    background-image: url(https://images.unsplash.com/photo-1434493789847-2f02dc6ca35d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;

}

.right-pg2{
    width: 50%;
    height: 100%;
    background-color:black;
    color: white;
    display: flex;
    align-items:flex-start;
flex-direction: column;
font-family: gilroy;
}

.right-text2{
    margin-top: 5vw;
    margin-left: 7vw;
}
.right-text2 h2{
    font-size: 2.5vw;
    margin-top: 12px;
    margin-bottom: 2vw;
}

.right-text2 p{
    width: 80%;
    color: gray;
    font-size: 17px;
}
.right-text2 h5{
    width: 80%;
    font-size: 17px;
    font-weight: 500;
    color: gray;
    margin-top: 1vw;
}
.right-pg2 h3{
    opacity: 0.5;
}
.bot{
    display: flex;
    flex-direction: column;
    
}
#trans{
    margin-top: 1.4vw;

    width: 18vw;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 17px;
    background: transparent;
    color: white;
    font-weight: 600;
    height: 8vh;

}

#yelo{
    margin-top: 1vw;
        border-radius: 50px;
    border: no;
    font-size: 17px;
    background-color: #FFD002;
    color: white;
    font-weight: 600;

    width: 15vw;
    height: 7vh;

}






#page3{
    width: 100%;
    height: 90vh;
    background-color:black;
    display: flex;
    
}

.left-pg3{
    width: 50%;
    height: 100%;
}


.left-text3{
    margin-top: 5vw;
    color: white;
    margin-left: 7vw;
    font-family: gilroy;
}
.left-text3 h2{
    font-size: 2.5vw;
    margin-top: 12px;
    margin-bottom: 2vw;
}

.left-text3 p{
    width: 80%;
    color: gray;
    font-size: 17px;
}
.left-text3 h5{
    width: 80%;
    font-size: 17px;
    font-weight: 500;
    color: gray;
    margin-top: 1vw;
}
.left-text3 h3{
    opacity: 0.5;
}
.bot{
    display: flex;
    flex-direction: column;
    
}
#trans{
    margin-top: 2vw;

    width: 16vw;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 17px;
    background: transparent;
    color: white;
    font-weight: 600;
    height: 7vh;

}


.right-pg3{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1468109320504-a5e48f17cfb7?q=80&w=1874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}


#page4{
    width: 100%;
    height: 110vh;
    background-color: lightpink;
    display: flex;

}

.left-pg4{
    width: 50%;
    height: 100%;
    background-image:url(https://images.unsplash.com/photo-1552126529-7e49521d2b34?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:center;
    background-size: cover;
}

.right-pg4{
    width: 50%;
    height: 100%;
    color: white;
background-color: black;


}

.right-cont{
    width: 85%;
    height: 88%;
    margin-top: 5vw;
    margin-left: 7vw;
font-family: gilroy;
    
}

.row1{
    width: 100%;
    height: 70vh;
    display:flex;
    flex-wrap: wrap;

}

.row2{
    width:20vw;
    margin: 6px;
    height:35vh;
}

.row2 p{
    margin-top:2.3vw;
    font-weight: 400;
    
}

.row2 h2{
    font-size:27px;

}

.text1-pg4 h5{
    font-size: 15px;
    color: gray;
}

.text1-pg4 h2{
    font-size: 2.5vw;
    margin-top: 12px;
    margin-bottom: 2vw;
}

.right-pg4 button{
    padding: 12px 40px;
    border-radius: 50px;
    border: 1.5px solid white;
    font-size: 18px;
    background-color: transparent;
    color: white;
    margin-top: 1vw;

}

#page5{
    width: 100%;
    height: 50vh;
display: flex;

}


.left-pg5{
    width: 50%;
    height: 100%;
    font-family: gilroy;
}

.pic{
    width:20vw;
    height:9vw;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1622519407650-3df9883f76a5?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-color: black;
}

.box5{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    margin-top: 9vw;
}

.text5{
    margin-left: 3vw;
    color: gray;
}
.text5 h5{
    font-size: 19px;
    color: black;
    font-weight: 500;
}

.text5 h5{
    margin-top: 2vw;
}

.box5 img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}


.pic2{
    width:20vw;
    height:9vw;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
}

.box-right5{
    width: 100%;
    font-family: gilroy;
    height: 30vh;
    display: flex;
    color: gray;
    /* justify-content: space-between; */
    margin-top: 9vw;
}

.text-right5{
    margin-left: 2vw;
}
.text-right5 h5{
    font-size: 19px;
    color: black;
    font-weight: 500;
}

.text-right5 h5{
    margin-top: 2vw;
}

.box-right5 img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}



.right-pg5{
    width: 50%;
    height: 100%;
    /* background-color: rgb(238, 144, 225); */
}


#page6{
    width: 100%;
    height: 70vh;
    background-color: #FFD002;
    display: flex;
    font-family: gilroy;
    padding-top: 10px;
}

.data1{
    width:43vw;
    height: 60%;
    padding-left:5vw;
    
}
.data1 h4{
    font-size: 25px;
    margin-top:1vw;
}

.data1 p{
    width: 80%;
    margin-top: 10px;

}

.data1 button{
    padding: 12px 40px;
    background:transparent;
    border-radius: 50px;
    border:2px solid white;
    color: white;
    font-size: 18px;
    margin-top: 2vw;
}


.data2{
    width:29vw;
    height: 60%;
}

.data2 h4{
    font-size: 25px;
}

.data2 p{
    width: 80%;
    margin-top:5px;
    margin-bottom: 16px;

}

.icon{
    margin-bottom:10px;
}

.data3 h4{
    font-size: 22px;
    margin-bottom:5px;
}

.data3 i{
font-size:25px;
color: rgb(51, 50, 50);

    margin-top:5px;
    margin-bottom: 20px;

}
